.fob {
    position: absolute;
    display: inline-block;
    /* height: 50px;
    width: 50px; */
    min-width: 50px;
    min-height: 120px;
    height: auto;
    /* padding: 15px; */
    border-radius:10px;
    background-color: beige;
    border: 1px solid #999;
    transition: box-shadow .3s;
    /* cursor: pointer; */
    /* pointer-events: none; */
    /* z-index: 1; */
    /* overflow: hidden; */
}

.fob:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2) !important; 
}

/* head */
.draggable {
    width: 100%;
    background-color: bisque;
    text-align: center;
    background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld0JveD0iMCAwIDQgNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNCA0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0FCQUJBQiIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjAiIHkxPSIwIiB4Mj0iNCIgeTI9IjQiLz4NCjwvc3ZnPg0K");
    background-repeat:repeat;
    background-position:0 0;
    background-size:8px 8px;
}

.fob-head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 15px;
}
.grid-field{
    /* position: relative; */
    min-height: 120px;
    min-width:160px;
    /* width: calc(160px * 2); */
    /* grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr)); */
    /* 
     */
     /* grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(5, 1fr) */
    /* grid-template-columns: min-content(1fr, auto); */
}
.fob{
    /* max-width: 170px;
    max-height: 160px; */
    width: 170px;
    height: 160px;
    overflow: hidden;
    resize: both;
}
.grid-field{
    width: 100vw;
    height: 100vh;
}

.grid-field > .split:first-child{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-30%); 
    /* transform: translateX(-50%); By this.. */
    
}

/* temporarily */

/* #fob-1 {
    top: 50%;
    transform: translateY(-50%);

} */

/* #fob-2 {
    transform: translate(150px, 150px);
} */