
.btn{
    display: grid;
    padding: 0 1px;
    margin-left: 2px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: rgb(236, 233, 233);
    cursor: pointer;
}

.btn-fob{
    position: absolute;
    right: -30px;
    background-color: inherit;
    border: 0px;
}

.create-fob > svg{
    fill: #2c9203;
}

.remove-fob > svg{
    transform: rotate(180deg);
    fill: red;
}