.icon{
    max-height: 25px;
    max-width: 25px;
    cursor: pointer;
}
.icon-out {
    pointer-events: none;
}
/* .icon-remove {
    position: absolute;
    top: -20px;
    right: -15px;
} */

.btn-split > .icon {
    max-height: 18px;
    max-width: 18px;
}